<div class="container mt-3">
  <h2 class="mb-3 fs-3 text-md-start">My Portfolio</h2>
  <mat-spinner
    *ngIf="!finish_fetching && !noData"
    class="mt-4 mx-auto"
  ></mat-spinner>
  <p class="mb-3 fw-bold fs-5 text-md-start">
    Money in Wallet: ${{ wallet.balance | number : "1.2-2" }}
  </p>

  <div *ngIf="purchaseSuccess">
    <div class="alert alert-success text-center" role="alert">
      {{ ticker1 }} bought successfully.
    </div>
  </div>
  <div *ngIf="sellSuccess">
    <div class="alert alert-danger text-center" role="alert">
      {{ ticker1 }} sold successfully.
    </div>
  </div>

  <div
    *ngIf="finish_fetching && portfolio.length > 0 && !noData; else noPortfolio"
  >
    <div *ngFor="let item of portfolio" class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">
          {{ item.ticker }}
          <small class="text-muted">{{ item.name }}</small>
        </h5>

        <hr />
        <div class="row text-center text-md-start">
          <div class="col-6 col-md-4">
            <span>Quantity:</span><br />
            <span>Avg. Cost / Share:</span><br />
            <span>Total Cost:</span>
          </div>
          <div class="col-6 col-md-2">
            <span>{{ item.quantity }}</span
            ><br />
            <span>{{ item.avgCostPerShare | number : "1.2-2" }}</span
            ><br />
            <span>{{ item.totalCost | number : "1.2-2" }}</span>
          </div>

          <div class="col-6 col-md-4 mt-3 mt-md-0">
            <span>Change:</span><br />
            <span>Current Price:</span><br />
            <span>Market Value:</span>
          </div>
          <div class="col-6 col-md-2 mt-3 mt-md-0">
            <div
              [ngClass]="{
                'text-danger': item.costDiff < 0,
                'text-success': item.costDiff > 0
              }"
            >
              <span
                >{{ item.costDiff > 0 ? "▲" : item.costDiff < 0 ? "▼" : "" }}
                {{ item.costDiff | number : "1.2-2" }}</span
              ><br />
              <span>{{ item.currentPrice | number : "1.2-2" }}</span
              ><br />
              <span>{{ item.marketValue | number : "1.2-2" }}</span>
            </div>
          </div>
        </div>
        <hr />
        <div class="mt-2">
          <button
            class="btn btn-primary me-2"
            (click)="
              openBuyModal(item.ticker, item.currentPrice, item.name, 'buy')
            "
          >
            Buy
          </button>
          <button
            class="btn btn-danger"
            (click)="
              openBuyModal(item.ticker, item.currentPrice, item.name, 'sell')
            "
          >
            Sell
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noPortfolio>
  <div *ngIf="noData && showAlert2" class="alert alert-warning text-center" role="alert">
    {{ alertMessage2 }}
  </div>
</ng-template>
